html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
    font-weight: 200;
}

body {
    font-family: 'Inter', sans-serif;
    background:#F5F5F5;
    position: relative;
    font-size: 16px;
    vertical-align: middle;
    padding: 40px 0 0 50px;
}

a {
    color: #000000;
}

/* add custom cursor */
.typed::after {
    content: "_";
    display: inline;
    animation: blink 1s infinite;
}

.description {
    font-weight: 600;
}

/* custom cursor animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes red{
    0% {-webkit-transform: rotate(0deg) translate(-40px) rotate(0deg) scale(1,1);}
    50% {-webkit-transform: rotate(-180deg) translate(-40px) rotate(-180deg) scale(1,1.33);}
    100% {-webkit-transform: rotate(-360deg) translate(-40px) rotate(-360deg) scale(1,1);}
}
@-moz-keyframes red{
    0% {-moz-transform: rotate(0deg) translate(-40px) rotate(0deg) scale(1,1);}
    50% {-moz-transform: rotate(-180deg) translate(-40px) rotate(-180deg) scale(1,1.33);}
    100% {-moz-transform: rotate(-360deg) translate(-40px) rotate(-360deg) scale(1,1);}
}
@-webkit-keyframes green{
    0% {-webkit-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);opacity:1}
    66% {-webkit-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1,1.33);opacity:.33}
    100% {-webkit-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);opacity:1}
}
@-moz-keyframes green{
    0% {-moz-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);opacity:1;}
    66% {-moz-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1,1.33);opacity:.33;}
    100% {-moz-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);opacity:1;}
}
@-webkit-keyframes blue{
    0% {-webkit-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);}
    33% {-webkit-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1.66,1);}
    100% {-webkit-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);}
}
@-moz-keyframes blue{
    0% {-moz-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);}
    33% {-moz-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1.66,1);}
    100% {-moz-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);}
}
#red,
#green,
#blue{
    z-index: 0;
    position:absolute;
    width:400px;
    height:400px;
    bottom:15%;
    right:15%;
    margin:0px 0 0 0px;
}
#red{
    -webkit-animation:7s red linear infinite;
    -moz-animation:7s red linear infinite;
    background-image: -moz-radial-gradient(50% 50%, circle contain, rgba(222, 75, 218, .75), rgba(222, 75, 218, 0) 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgba(222, 75, 218, .75), rgba(222, 75, 218, 0) 100%);         
}
#blue{
    -webkit-animation:blue 6s linear infinite;
    -moz-animation:blue 6s linear infinite;
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgba(86, 173, 223, .75), rgba(86, 173, 223, 0) 100%);
    background-image: -moz-radial-gradient(50% 50%, circle contain, rgba(86, 173, 223, .75), rgba(86, 173, 223, 0) 100%);           
}
#green{
    -webkit-animation:green 8s linear infinite;
    -moz-animation:green 8s linear infinite;
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgba(210, 222, 12, .75), rgba(210, 222, 12, 0) 100%);
    background-image: -moz-radial-gradient(50% 50%, circle contain, rgba(210, 222, 12, .75), rgba(210, 222, 12, 0) 100%);          
}
